body{
font-family: Arial, Helvettica, sans-serif;
background-color: #333333;
}

header{
	width: 80%; /* take 80% of parent */
	background-color: black;
	color: white;
	margin-left:auto; /* auto-adjust the amount you leave for parent. 
						Since header is 20% less than the parent. So, margin on left will be half of it, i.e, 10% */ 
	margin-right:auto; /* comes to 10% for the reason above */ 
	padding: 10px; /* adds space between the black header border and the white header text */
	overflow: hidden; /* if the text is don't fit in the header, hide the extra text. 
						Other option is 'auto' that adds scrollbar if needed, or 'visible' (default) that allows extra text to float outside the box. */
}

h1 {
	font-size: 2em; /* double the default size */
	margin: 0; /* Margin separates one tag from the other. It is the space between this conetents cotainer and the outer contents container. 
				Here, I don't like the gap between h1 and header, so I set it to 0. */
	padding:0; /* the space between the content (i.e. text) and the contentís container (it's visible or invisible border) . Padding is 
				what separates a photo from the border that frames the photo. */
	padding-top:10px;
}

h2{
	font-size:1.6;	
}

h3{
	font-size:1.3;	
}

hgroup{
	width: 70%;
	float: left; /* This allows the navbar to move itself to the right */ 	
}


hgroup h1 {
  padding-top:0;
  line-height:1em; /* the line-height property sets the spacing between lines.*/
}

hgroup h2 {
  text-transform:uppercase;
  font-size:1.2em;
  line-height:1em;
}

nav {
  width:30%;
  float:right;
}

nav ul {
  list-style-type:none;
}

nav li {
  float:left;
  margin-right:5px;
}

section {
  width:80%;
  background-color:white;
  margin-right:auto;
  margin-left:auto;
  border-color:black;
  border-style:solid;
  border-width:5px;
  padding:5px;
}

p {
  margin:10px;
}

img {
  float:right;
  margin:0px 0px 10px 10px;
  box-shadow:3px 3px 5px 1px #cccccc; /* horizontal offset, vertical offset, shadow radius, shadow color. 
										Use -ve value to change the location of the shadow. */ 
}

aside {
  width:80%;
  margin-right:auto;
  margin-left:auto;
  font-size:.8em;
  background:#eeff99;
  padding:20px;
  border:1px solid #696;
  border-radius:20px; /* The border-radius property is used to add rounded corners to an element. */
}

footer {
  width:80%;
  background-color:black;
  color:white;
  margin-right:auto;
  margin-left:auto;
  height:50px;
  padding:10px;
}